PORT=3000
DATABASE_URL=postgresql://postgres.cminxlpslrvakgmelkac:LwjtKzd1hmY1vCUY@aws-1-us-east-2.pooler.supabase.com:6543/postgres
DATABASE_SSL=true
DATABASE_POOL_MAX=3
FRONTEND_URL=//runpeak-ecommerce.vercel.app
AUTH_SECRET=Rfiqp39vmHOCWMedtCxu8M0lByR4lYOG2z7XDogh0AejqLsylvfhXjJNdKzFok2m
ADMIN_EMAIL=admin@runpeak.local
ADMIN_PASSWORD=RunPeak#2026!Admin
